<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./styles/styles.css" rel="stylesheet">
  <link  rel="icon" href="images/weather.png">
  
  <title>Document</title>

</head>
<body>
    <div class="main-content">
      {{>header}}

      <p>Find your daily weather!</p>
      <form>
        <input type="text" placeholder="Location">
        <button>Get weather</button>
      </form>

      <p id="msg-one"></p>
      <p id="msg-two"></p>
    </div>
    {{>footer}}
  
</body>
<script src="./js/index.js"></script>
</html>