body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10%; 
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 18px;
  padding: 18px 0;
}

header {
  margin-top: 18px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 18px;
}

header a {
  color: #888888;
  margin-right: 15px;
  text-decoration: none;
}